<div class="row gy-4">
        {{ form_start(form) }}

    <div class="col-md-6">
        {{ form_row(form.name) }}
    </div>

    <div class="col-md-6 ">
        {{ form_row(form.email) }}
    </div>

    <div class="col-md-12">
        {{ form_row(form.message) }}
    </div>

    <div class="col-md-12">
        {{ form_row(form.subject) }}
    </div>

        {{ form_end(form) }}

    <div class="col-md-12 text-center">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">Your message has been sent. Thank you!</div>

        <button type="submit">Send Message</button>
    </div>
</div>
</div><!-- End Contact Form -->